## Bibliotecas

In [0]:
import pandas as pd
import numpy as np
import folium
from folium import plugins

## Carregar Arquivos

In [0]:
import json
br_estados = "br_states.json"
with open(br_estados, 'r') as json_file:
    dados = json.load(json_file)

In [3]:
data = pd.read_csv('covid19-432cedae8f5a4e2c8ba27cc9e942008e.csv')
data.head()

         date state  ... confirmed_per_100k_inhabitants death_rate
0  2020-05-26    AL  ...                      125.39185     0.0455
1  2020-05-26    AL  ...                      120.38991     0.0323
2  2020-05-26    AL  ...                      190.73858     0.0333
3  2020-05-26    AL  ...                       87.87346     0.0714
4  2020-05-26    AL  ...                      228.31050     0.0526

[5 rows x 11 columns]

## Limpeza dos dados

In [4]:
data_cidades_unicas = data.loc[data['is_last'] == True,['state','city','confirmed','deaths']]
data_cidades_unicas.head(4)

  state                    city  confirmed  deaths
0    AL                  Anadia         22       1
1    AL               Arapiraca        279       9
2    AL                 Atalaia         90       3
3    AL  Barra de Santo Antônio         14       1

## Função de Log
Deixar os números inteiros em função de Log para melhorar na visualização dos dados no gráfico

In [0]:
data_cidades_unicas['confirmed_log'] = np.log(data_cidades_unicas['confirmed'] + 1) 
data_cidades_unicas['deaths_log'] = np.log(data_cidades_unicas['deaths'] + 1)

## Mapa Base

In [6]:
mapaBase = folium.Map(
    location = [-7.2500000,-36.5000000],
    zoom_start = 5
)
mapaBase

## Adicionando contornos vetoriais e cores em cada estado com casos confirmados do COVID-19

In [7]:
mapaBase.choropleth(
    geo_data = dados,
    name = 'CASOS CONFIRMADOS',
    data = data_cidades_unicas,
    columns = ['state','confirmed_log'],
    key_on ='id',
    fill_color = 'BuGn',
    legend_name = 'Escala Logaritmica: Casos de COVID-19 no Brasil',
    fill_opacity = 0.9,
    line_color =  'black',
    line_opacity = 0.8,
    show = True,

)

/usr/local/lib/python3.6/dist-packages/folium/folium.py:426: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

## Adicionando contornos vetoriais e cores em cada estado com casos obitos do COVID-19

In [8]:
mapaBase.choropleth(
    geo_data = dados,
    name = 'CASOS DE OBITOS',
    data = data_cidades_unicas,
    columns = ['state','deaths'],
    key_on ='id',
    fill_color = 'BuPu',
    legend_name = 'Escala Logaritmica: Casos de obitos COVID-19 no Brasil',
    fill_opacity = 0.9,
    line_color =  'black',
    line_opacity = 0.8,
    show = False,

)

/usr/local/lib/python3.6/dist-packages/folium/folium.py:426: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

## Adicionando funcionalidade de escolha

In [9]:
folium.LayerControl().add_to(mapaBase)

## Salvando arquivo em HTML

In [0]:
mapaBase.save('mapaBrCovid.html')