In [5]:
import pandas as pd

In [7]:
dado = pd.read_csv('COVID19_20200401.csv')

In [8]:
dado.head()

  regiao;estado;data;casosNovos;casosAcumulados;obitosNovos;obitosAcumulado
0                        Norte;RO;30/01/2020;0;0;0;0
1                        Norte;RO;31/01/2020;0;0;0;0
2                        Norte;RO;01/02/2020;0;0;0;0
3                        Norte;RO;02/02/2020;0;0;0;0
4                        Norte;RO;03/02/2020;0;0;0;0